
#demo {
    background: #248CD1;
    background: -moz-linear-gradient(left, #248CD1 0%, #1B6A9E 50%, #114466 100%);
    background: -webkit-linear-gradient(left, #248CD1 0%, #1B6A9E 50%, #114466 100%);
    background: linear-gradient(to right, #248CD1 0%, #1B6A9E 50%, #114466 100%);
}
#demo {
    min-height: 150px;
    text-align: center;
}

#demo1 {
    background: #CBCFD1;
    background: -moz-linear-gradient(top, #CBCFD1 0%, #676C6D 50%, #393A3A 100%);
    background: -webkit-linear-gradient(top, #CBCFD1 0%, #676C6D 50%, #393A3A 100%);
    background: linear-gradient(to bottom, #CBCFD1 0%, #676C6D 50%, #393A3A 100%);
}
#demo1 {
    min-height: 150px;
    text-align: center;
}

.myButton {
    color: rgb(255, 255, 255); font-size: 18px; line-height: 18px; padding: 0px; border-radius: 12px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(36, 140, 209) 0%, rgb(27, 106, 158) 50%, rgb(17, 68, 102) 100%); box-shadow: rgb(54, 54, 54) 5px 5px 27px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
.myButton:hover {
    background: #248CD1; }
.myButton:active {
    background: #114466; }
.topright {
    position: absolute;
    top: -600px;
    right: 16px;
    font-size: 20px;
}

#demotext {
    color: #e0dfdc;
    background-color: #567;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.detail_post__content .aligncenter {
    text-align: center;
}
.detail_post__content img {
    margin: 40px auto;
    display: block;
}
.detail_post img {
    max-width: 100%;
    height: auto;
}

.container {
    position: relative;
}

#demoFont {
    font-family: Georgia, serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 8px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

#demotext1 {
    border: 10px dashed #818181;
}
#demotext2 {
    border: 15px ridge #848586;
}
#demotext3 {
    border: 15px ridge #848586;
}

.post-image-below-header.post-image-aligned-center .inside-article .featured-image, .post-image-below-header.post-image-aligned-left .inside-article .featured-image, .post-image-below-header.post-image-aligned-left .inside-article .post-image, .post-image-below-header.post-image-aligned-right .inside-article .featured-image, .post-image-below-header.post-image-aligned-right .inside-article .post-image {
    margin-top: 2em;
}

.back-to-top {
    display: none;
    border-radius: 3px;
    color: #fff!important;
    line-height: 20px;
    transition: all .5s ease-in-out;
    background: linear-gradient(180deg,#90a4ae,#78909c);
    width: 40px;
    height: 40px;
    position: fixed;
    right: 10px;
    bottom: 40px;
    z-index: 1000001;
    cursor: pointer;
}
.back-to-top svg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    margin: auto;
    fill: #fff;
}
body * {
    font-family: 'PT Sans';
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#secondary section:first-of-type {
    border-top: none;
}
#secondary section {
    border-top: 1px solid #e3e3e3;
    padding-top: 1em;
}
.widget {
    margin: 0 0 1.5em;
}
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
#secondary .widget a.bump-view, #secondary .widget li>a:first-of-type {
    color: #fff;
    font-weight: 800;
}
#secondary .widget .tp-category a {
    font-weight: 500;
    color: #000000;
    padding: 0 .5em 0 0;
    border-right: 1px solid #666;
    margin-right: .5em;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
    color: #666;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    padding: 1em 1em .8em;
}
.search-field {
    display: inline-block;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
@media (min-width: 768px)
button, input[type="button"], input[type="reset"], input[type="submit"] {
    width: auto;
    min-width: 100px;
    max-width: 160px;
    padding: .6em 30px .5em;
}
    button, input[type="button"], input[type="reset"], input[type="submit"] {
        border: 1px solid #82888A;
        background: #82888A;
        background: -moz-linear-gradient(left, #82888A 0%, #82888A 100%);
        background: -webkit-linear-gradient(left, #82888A 0%,#82888A 100%);
        background: linear-gradient(to right, #82888A 0%,#82888A 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82888A', endColorstr='#82888A',GradientType=1 );
        border-radius: 3px;
        color: #fff;
        font-size: 12px;
        font-weight: 100;
        font-size: 1rem;
        line-height: 1;
        padding: .6em 10px .5em;
        width: 5%;
    }
    button, [type="button"], [type="reset"], [type="submit"] {
        -webkit-appearance: button;
    }

#secondary section {
        border-top: 1px solid #e3e3e3;
        padding-top: 1em;
    }
.widget {
        margin: 0 0 1.5em;
    }
h4 {
        font-weight: 800;
    }
.h4, h4 {
        font-size: 1.5rem;
    }
#secondary .widget ul {
        padding: 0;
    }
ul {
        list-style: none;
    }
ul, ol {
        margin: 0 0 1.5em 0;
    }
#secondary .widget li {
    }
li {
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 10px;
    }
